
.services {
    display: flex;
    flex-direction: column;
}

.services__header {
    padding: 6rem 12%;
    background: linear-gradient(135deg, #1e6fa8 0%, #174168 60%, #0f2e4a 100%)
}

.services__title {
    font-size: var(--text-display-md);
    line-height: var(--leading-display-md);
    letter-spacing: var(--letter-spacing-display-md);
    font-weight: var(--weight-bold);

    color: #fff;
}

.services__content {
    display: flex;
    padding: 6rem 12%;
    gap: 2rem;
    width: 100%;
}

.services__sidebar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25rem;
}

.services__list {
    list-style: none;
}

.services__item {
    margin-bottom: 0.5rem;
}

.services__link {
    display: block;
    padding: 0.7rem 1rem;
    
    font-size: var(--text-body-lg);
    line-height: var(--leading-body-lg);
    letter-spacing: var(--letter-spacing-body-lg);
    font-weight: var(--weight-regular);  
    
    font-family: 'Montserrat', sans-serif;
    color: #4a4a4a;
}

.services__link.active {
    background-color: #1e6fa8;
    color: #fff;
}

.services__main {
    flex: 1;
}