
.overview-service {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);
}

.overview-service__section {
    display: flex;
    flex-direction: column;
    gap: var(--content-gap);
}

.overview-service__title {
    font-size: var(--text-headline-md);
    line-height: var(--leading-headline-md);
    letter-spacing: var(--letter-spacing-headline-md);
    font-weight: var(--weight-medium);
}

.overview-service__description {
    font-size: var(--text-body-lg);
    line-height: var(--leading-body-lg);
    letter-spacing: var(--letter-spacing-body-lg);
    font-weight: var(--weight-light);

    color: #101E37;
}

.overview-service__subtitle {
    font-size: var(--text-title-lg);
    line-height: var(--leading-title-lg);
    letter-spacing: var(--letter-spacing-title-lg);
    font-weight: var(--weight-medium);
}

/* card */

.overview-service__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
}

.overview-service__card {
    display: flex;
    align-items: center;

    position: relative;

    gap: var(--card-gap);
    padding: var(--card-padding);
    border: var(--card-border-width) solid #d9e1e5;
    border-radius: var(--card-shape);
}

.overview-service__card-img {
    width: 7rem;
    height: 7rem;
    overflow: hidden;
}

.overview-service__card-img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.overview-service__card-content {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    height: 100%;
    width: 100%;
}

.overview-service__card-title {
    font-size: var(--text-title-md);
    line-height: var(--leading-title-md);
    letter-spacing: var(--letter-spacing-title-md);
    font-weight: var(--weight-medium);
}

.overview-service__card-description {
    font-size: var(--text-body-lg);
    line-height: var(--leading-body-lg);
    letter-spacing: var(--letter-spacing-body-lg);
    font-weight: var(--weight-light);
}

.overview-service__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}